<div class="title">
<h2>Convert Markdown to HTML</h2>
</div>
<div class="input">
  {{textarea placeholder="Enter markdown here..." value=postContent}}
</div>
<div class="output">
  {{showdown-addon postContent}}
</div>
{{outlet}}
